<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yxs.shiro.mapper.UserMapper">
    <resultMap type="org.yxs.shiro.entity.User" id="User">
        <id column="id" property="id"/>
        <id column="username" property="userName" />
        <id column="password" property="password" />
        <id column="create_time" property="createTime"/>
        <id column="status" property="status" />
    </resultMap>
    <select id="findByUserName" resultMap="User">
        select * from user where username = #{userName}
    </select>
</mapper>
