<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yxs.shiro.mapper.UserPermissionMapper">

<resultMap type="org.yxs.shiro.entity.Permission" id="permission">
   <id column="id" property="id" />
   <id column="url" property="url"/>
   <id column="name" property="name"/>
</resultMap>

<select id="findByUserName" resultMap="permission">
	select p.id,p.url,p.name from role r
	left join user_role ur on(r.id = ur.r_id)
	left join user u on(u.id = ur.u_id)
	left join role_permission rp on(rp.r_id = r.id)
	left join permission p on(p.id = rp.p_id )
	where u.username = #{userName}
</select>
</mapper>
